blockquote {
	background: #555;
	color: #aaa;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: '„' '“';
}

q, .Zitate { quotes: ',' '‘'; }

.woche-sortieren { quotes: '«' '»'; }

blockquote::before,
q::before, .Zitate::before,
.woche-sortieren::before { content: open-quote; }

blockquote::after,
q::after, .Zitate::after,
.woche-sortieren::after { content: close-quote; }
